
Projects/MathTest - Copy/.vs/MathTest/v17/.suo
Projects/MathTest - Copy/obj/Debug/MathTest.csproj.AssemblyReference.cache
*.cache
Projects/MathTest - Copy/.vs/MathTest/v16/.suo
*.exe
*.pdb
Projects/MathTest/.vs/MathTest/v16/.suo
